:root {
  --bg-main-color: #0a4257;
  --bg-content-transparent: rgb(10, 66, 87, 0.5);
  --navbar-color: #0a4257;
  --headings-color: white;
  --hover-color: #7d8697;
  --hover-gradient: linear-gradient(to bottom, rgb(208, 168, 160) 0px, rgb(253, 172, 135) 100%);
  --text-color: white;
  --gradient-blue: linear-gradient(to bottom, rgb(10, 66, 87) 0px, rgb(125, 134, 151) 100%);
  --gradient-yellow: linear-gradient(to bottom, rgb(208, 168, 160) 0px, rgb(253, 172, 135) 100%);
  --link-color: #0a4257; /* Includes visited */
  --link-color-alt: #fdac87;
  --link-hover-color: white;
  
  --font-headings: 'Passion One', sans-serif;
  --font-body: 'Open Sans', sans-serif;

}

body {
  background-color: var(--navbar-color);
}

/*--- Main Background Images and Gradients ---*/

.bg-img:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('../images/mountain_haze.jpg'); no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.gradient-blue {
  background-image: var(--gradient-blue);
}
.gradient-yellow {
  background-image: var(--gradient-yellow);
}


/*--- TEXT and TYPOGRAPHY ---*/

h1, h2, h3, h4, .jumbotron > h1  {
  color: var(--headings-color);
  font-family: var(--font-headings);
  letter-spacing: 1px;
}
p, .navbar-nav > li > a {
  color: var(--text-color);
}
h3 {
  text-decoration: underline;
}
h4 {
  text-align: center;
}
p {
  font-size: 22px;
}
.context-center {
  width: 300px;
  margin: auto;
}
body {
  font-family: var(--font-body);
}

/*--- NAVBAR ---*/

.container-fluid {
  background-color: var(--navbar-color);
}
.navbar-default {
  background-color: var(--navbar-color);
  border-color: var(--text-color);
  font-family: var(--font-headings);
  letter-spacing: 1px;
}
.navbar-default .navbar-brand {
  font-size: 28px;
  color: var(--text-color);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: var(--text-color);
}
.navbar-default .navbar-text {
  color: var(--text-color);
}
.navbar-default .navbar-nav > li > a {
  color: var(--text-color);
  font-size: 22px;
}
.navbar-default .navbar-nav > li > a:focus {
  color: var(--text-color);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  background-image: var(--hover-gradient);
  color: var(--text-color);
  background-color: var(--hover-color);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus {
  background-image: var(--hover-gradient);
  color: var(--text-color);
  background-color: var(--hover-color);
}

.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: var(--text-color);
  background-image: var(--hover-gradient);
}

.navbar-default .navbar-toggle {
  border-color: var(--headings-color);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--hover-color);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--text-color);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: var(--text-color);
}
.navbar-default .navbar-link {
  color: var(--text-color);
}
.navbar-default .navbar-link:hover {
  color: var(--text-color);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: var(--text-color);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: var(--text-color);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: var(--text-color);
    background-color: var(--hover-color);
  }
}


/*--- JUMBOTRON ---*/
.jumbotron {
  margin-top: 80px;
  background: transparent;
}
#heading, #subheading {
  color: var(--text-color);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: var(--navbar-color);
  padding: 4px 15px 4px 15px;
  border-radius: 4px;
}
.jumbotron > h1, h2 {
  text-align: center;
  word-wrap: break-word;
}

/*--- LINKS ---*/
.link {
  display: block;
  padding: 15px;
  color: var(--link-color);
  font-size: 26px;
  font-weight: bold;
}
.link-alt {
  color: var(--link-color-alt) !important;
}
.link:visited {
  color: var(--link-color);
}
.link:hover {
  color: var(--link-hover-color);
}


/*--- Content ---*/
.opaque {
  background: var(--bg-content-transparent);
  padding: 10px;
  border-radius: 4px;
}
.spacer {
  height: 50px;
}
.tags {
  border: 1px solid black;
}
img {
  width: 280px;
  height: auto;
}
.image-odin, .image-exercise {
  display: block;
  margin: auto;
  width: auto;
  height: 130px;
}
.image-exercise {
  filter: invert(100%);
}
.icon {
  color: var(--headings-color);
  text-align: center;
}
.icon-bump-right-20::before {
  margin-left: 20px;
}
.icon-bump-right-5::before {
  margin-left: 5px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-top-10 {
  padding-top: 10px;
}
.my-custom-icon {
  padding: 5px;
  width: auto;
  height: 96px;
}
#fa-cogs {
  padding: 15px;
}
.text-center {
  text-align: center;
}
.flask-icon {
  color: var(--text-color);
  text-align: center;
  font-size: 7em;
}

/*--- GITHUB WIDGET ---*/
.widget {
  background-color: white;
  display: block;
  margin: auto;
}


/*--- EMAIL FORM ---*/
.email-form {
  display: block;
  width: 100%;
  max-width: 330px;
  margin: 15px auto 15px auto;
  padding: 5px;
}
.email-btn {
  display: inline-block;
}
.email-message {
  height: 300px;
}

/*--- STRAVA WIDGET ---*/
.contact-strava {
  max-width: 300px;
}

/*--- FOOTER ---*/
.footer {
  background-color: var(--navbar-color);
  height: 50px;
}
.footer > .container {
  position: relative;
  height: 100%;
  color: var(--text-color);
}
.footer > .container > .content {
  position: absolute;
  bottom: 0px;
  right: 3rem;
}
